<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
        <form [formGroup]="formArticles" (ngSubmit)="onSubmit()">
            <div>
                <h2>Informazioni Principali</h2>
                <div>
                    <label for="lingua">Lingua*</label>
                    <select formControlName="lingua" id="lingua">
                        <option *ngFor="let lang of arrLanguages" value="{{ lang }}">{{ lang }}</option>
                    </select>
                </div>
                <div>
                    <label for="title">Titolo*</label>
                    <input type="text" formControlName="title" id="title" maxlength="15" />
                </div>
                <div>
                    <label for="subtitle">Sottotitolo</label>
                    <input type="text" formControlName="subtitle" id="subtitle" maxlength="17" />
                </div>
                <div>
                    <label for="description">Descrizione*</label>
                    <textarea formControlName="description" id="description"></textarea>
                </div>
                <div>
                    <label for="citta">Citt&agrave;*</label>
                    <select formControlName="citta" id="citta">
                        <option *ngFor="let citta of arrCapoluoghi" value="{{ citta }}">{{ citta }}</option>
                    </select>
                </div>
                <div>
                    <label for="articleImg">Carica Immagine*</label>
                    <input
                        type="file"
                        accept="image/*"
                        (change)="articlesImageChange($event)"
                        id="articleImg"
                    />
                </div>
            </div>

            <!-- Paragrafi -->
            <div formArrayName="paragraphs">
                <div *ngFor="let paragraph of paragraphs.controls; let i = index" [formGroupName]="i">
                    <h3>Paragrafo {{ i + 1 }}</h3>
                    <div>
                    <label for="paragraphTitle">Titolo del paragrafo*</label>
                    <input
                        type="text"
                        formControlName="paragraphTitle"
                        id="paragraphTitle"
                    />
                    </div>
                    <div>
                    <label for="paragraphText">Descrizione del paragrafo*</label>
                    <textarea
                        formControlName="paragraphText"
                        id="paragraphText"
                    ></textarea>
                    </div>
                    <div>
                    <label for="cittaParagraph">Citt&agrave;*</label>
                    <input
                        type="text"
                        formControlName="cittaParagraph"
                        id="cittaParagraph"
                    />
                    </div>
                    <div>
                    <label for="paragraphImg">Carica immagine*</label>
                    <input
                        type="file"
                        accept="image/*"
                        (change)="paragraphImageChange($event, i)"
                        id="paragraphImg"
                    />
                    </div>
                    <button type="button" (click)="resetParagraph(i)">Reset</button>
                </div>
            </div>
            <button type="button" (click)="addParagraph()">Aggiungi paragrafo</button>
            <button type="submit">Salva</button>
        </form>
        </div>
    </div>
</div>
