<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12 col-lg-10 m-auto">
            <form [formGroup]="formArticles" (ngSubmit)="onSubmit()" class="row">
                <div class="mb-4 bg-form p-0">
                    <div class="col-12 bg-title-form">
                        <p class="fs-3 p-4">Informazioni Principali</p>
                    </div>
                    <div class="d-lg-flex justify-content-lg-between row-cols-lg-2 my-4">
                        <div class="col-12 px-4">
                            <label for="title" class="form-label me-4">Titolo*</label>
                            <span class="form-text">Inserire massimo 15 parole</span>
                            <input type="text" class="form-control" formControlName="title" id="title" maxlength="15" />
                        </div>
                        <div class="col-12 px-4 my-4">
                            <label for="subtitle" class="form-label me-4">Sottotitolo</label>
                            <span class="form-text">Inserire massimo 17 parole</span>
                            <input type="text" class="form-control" formControlName="subtitle" id="subtitle" maxlength="17" />
                        </div>
                    </div>
                    <div class="col-12 px-4">
                        <label for="description" class="form-label">Descrizione*</label>
                        <textarea class="form-control" rows="4" formControlName="description" id="description"></textarea>
                    </div>
                    <div class="d-lg-flex justify-content-lg-between row-cols-lg-2 my-4">
                        <div class="col-12 px-4">
                            <label class="form-label" for="cittaArticle">Citt&agrave;*</label>
                            <select class="form-select" formControlName="cittaArticle" id="cittaArticle">
                                <option *ngFor="let citta of arrCapoluoghi" value="{{ citta }}">{{ citta }}</option>
                            </select>
                        </div>
                        <div class="col-12 px-4 my-4 my-lg-0">
                            <label class="form-label" for="lingua">Lingua*</label>
                            <select class="form-select" formControlName="lingua" id="lingua">
                                <option *ngFor="let lang of arrLanguages" value="{{ lang }}">{{ lang }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 px-4 mb-4">
                        <label class="form-label" for="articleImg">Carica Immagine*</label>
                        <input
                            class="form-control"
                            type="file"
                            accept="image/*"
                            (change)="articlesImageChange($event)"
                            id="articleImg"
                        />
                    </div>
                </div>

                <!-- Paragrafi -->
                <div formArrayName="paragraphs" class="p-0">
                    <div *ngFor="let paragraph of paragraphs.controls; let i = index" [formGroupName]="i" class="mt-5 bg-form">
                        <div class="col-12 bg-title-form">
                            <p class="fs-3 p-4">Paragrafo {{ i + 1 }}</p>
                        </div>
                        <div class="col-12 px-4">
                            <label class="form-label" for="paragraphTitle">Titolo del paragrafo*</label>
                            <input class="form-control" type="text" formControlName="paragraphTitle" id="paragraphTitle"/>
                        </div>
                        <div class="col-12 px-4 my-4">
                            <label class="form-label" for="paragraphText">Descrizione del paragrafo*</label>
                            <textarea class="form-control" rows="4" formControlName="paragraphText" id="paragraphText"></textarea>
                        </div>
                        <div class="col-12 px-4">
                            <label class="form-label" for="cittaParagraph">Citt&agrave;*</label>
                            <select class="form-select" formControlName="cittaParagraph" id="cittaParagraph">
                                <option *ngFor="let citta of arrCapoluoghi" value="{{ citta }}">{{ citta }}</option>
                            </select>
                        </div>
                        <div class="col-12 px-4 my-4">
                            <label class="form-label" for="paragraphImg">Carica Immagine*</label>
                            <input
                                class="form-control "
                                type="file"
                                accept="image/*"
                                (change)="paragraphImageChange($event, i)"
                                id="paragraphImg"
                            />
                        </div>
                        <div class="col-12 p-4 mb-5">
                            <button type="button" class="btn btn-primary" (click)="resetParagraph(i)">Reset paragrafo</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-start p-0">
                    <button type="submit" class="btn btn-success me-4">
                        <i class="bi bi-floppy-fill"></i>
                        <label class="ms-2">Salva</label>
                    </button>
                    <button type="button" class="btn btn-primary" (click)="addParagraph()">
                        <i class="bi bi-plus-lg"></i>
                        <label class="ms-2">Aggiungi paragrafo</label>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
